@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    margin: 0;
    font-family: 'inter','sans-serif';
}

.conteiner-principal{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center; /* 2 itens para centralizar a tela */
    justify-content: center;
    background-color: rgb(146, 54, 54);
    /*background-image: url(/image/pngtree-abstract-psychedelic-multicolored-background-image_602528.jpg);
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;*/ 
}

.content{
    display: flex;
    flex-direction: column;
    padding: 102px;
    width: 100%;
    max-width: max-content;
    height: 410px;
    backdrop-filter: blur(25px);
    border-radius: 24px;
    padding: 112px;
    background-color: rgba(255, 255, 255, 0.801);
    gap: 28px;

}

.profile{
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    gap: 8px;
}

.profile h1{
    font-size: 32px;
    margin: 0;

}

.profile h2{
    color: #5b5b5b;
    font-weight: 500;
    margin: 0;

}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center; 
    justify-content: center;
}

.botao{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 100%;
    padding: 16px 32px;
    border: 1px solid rgb(3, 3, 3);
    transition: background-color .3s ease-in;
   
}

.botao:hover{
    background-color: #111111;
    cursor: pointer;
    & h3{
        color: red
    }
}

.botao h3{
    margin: 0;
    color: black;
    transition: color .2s ease-in
}

img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;

}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 12px;

}

.icons button{
    padding: 10px;
    border-radius: 50%;
    border: 1px solid rgb(190, 189, 189); /*Para tirar borda*/
    background-color: white;/*transparent; para deixar o fundo transparente */ 
    transition: background-color .2s ease-in; 
}

.icons button .ph{
    font-size: 24px;
    transition: font-size .2s ease-in;
}

.icons button:hover{
    background: rgb(182, 182, 182);
    cursor: pointer;

    & .ph{
        font-size: 30px;
        color: rgb(255, 255, 255);
    }
}

.icons #icon1:hover{
    background-color: rgb(231, 72, 236);
}

.icons #icon2:hover{
    background-color: rgb(66, 243, 74);
}

.icons #icon3:hover{
    background-color: rgb(0, 0, 0);
}